body {
    text-align: center;
    text-transform: uppercase;
    width: 90vw;
}

h1 {
    font-size: 60px;
    margin: 0 300px 0 300px;
}

.slider {
    margin: 50px 0 0 150px;
}
      
.slider div {
    padding: 20px;
}
     
.slider img {
    width: 380px;
    height: 340px;
}
.slick-prev
{
    left: -75px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: url(../images/Arrow_left.png);
}
[dir='rtl'] .slick-prev:before
{
    content: url(../images/Arrow_right.png);
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: url(../images/Arrow_right.png);
}
[dir='rtl'] .slick-next:before
{
    content: url(../images/Arrow_left.png);
}